functions-framework==3.*
google-auth==2.26.2
google-api-python-client==2.114.0
google-cloud-iam==2.13.0
google-cloud-resource-manager==1.11.0
google-cloud-asset==3.23.0
google-cloud-bigquery==3.17.2
pandas==2.2.0